/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .todo-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
  }
  
  #task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #add-task-btn {
    padding: 10px 20px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #add-task-btn:hover {
    background-color: #4cae4c;
  }
  
  #task-list {
    list-style: none;
    padding: 0;
    width: 100%;
    text-wrap: wrap;
  }
  
  .task-item {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 45px;
    padding-left: 5px;
    align-items: center;
  }

  .task-item span{
    cursor: pointer;
  }
  
  .delete-btn {
    background: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 45px;
    cursor: pointer;
    height:100%
  }
  
  .delete-btn:hover {
    background: #c9302c;

  }

  .task-item.completed span{
    text-decoration: line-through;
    color: gray;
  }
  